.brand_title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-shadow: 2px 2px 2px #000 !important;
}

.sub_title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 10px auto;
    color: white;
    text-shadow: 2px 2px 2px #000;
}

.page_title {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 57.2px;
    line-height: 67.28px;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
}

@media screen and (max-width: 1200px) {
    .page_title {
        font-size: 47.2px;
        line-height: 67.28px;
    }
}

@media screen and (min-width: 1200px) {
    .page_title {
        font-size: 67.2px;
        line-height: 77.28px;
    }
}

.mid_title {
    position: relative;
    padding: 100px 0;
    margin: 40vh auto 0 auto;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.count_day {
    font-size: 100px !important;
    text-align: center;
    height: auto !important;
    color: #000;
    box-shadow: #716d6e 2px;
    font-family: 'Great Vibes', cursive;
}

.wrapper {
    width: 90%;
    position: relative;
    border: 2px solid;
    border-radius: 25px;
    margin: 10px auto;
}

.days {
    font-size: 30px;
    color: #716d6e !important;
    margin-top: -40px;
}

section {
    display: flex;
    flex-wrap: wrap;
}

section::after {
    content: '';
    flex-grow: 999999999;
}

.img_layout {
    margin: 2px;
    background-color: violet;
    position: relative;
}

i {
    display: block;
}

.img {
    position: absolute;
    top: 0;
    width: 100%;
    vertical-align: bottom;
}

.flex_img {
    cursor: pointer;
    overflow: hidden;
}

.part_title {
    font-size: 26px;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-shadow: 2px 2px 2px #000;
}
.part_desc {
    font-size: 14px;
    margin-left: 10px;
}

.span_text {
    color: black;
    font-family: 'Great Vibes', cursive;

    display: block;
    text-align: center;

}

.myModal {
    width: 100%;
    height: auto;
    position: absolute;
    display: block;
    outline: none;
}

.middle_image {
    text-align: center;
    margin: 0 auto;
    width: 80%;
    box-shadow: 1px 1px 1000px 1000px rgba(0, 0, 0, 0.4), 0px 0px 20px 4px rgba(0, 0, 0, 0.4);
    display: block;
    border-radius: 25px;
    background-color: violet;
    float: left;
    user-select: none;
}

.middle_image_desc {
    margin-top: 25px;
    width: 20%;
    min-height: 100px;
    float: left;
    height: auto;
    color: white;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: inline-block;
    background: rgba(0, 0, 0, 0.6);
    outline: none;
}

.load_img {
    height: 60vh;
    width: 100%;
    /*background: rgba(105, 105, 105, 0.5);*/
    position: absolute;
    margin: 0 auto;
    display: block;
}

.load_image {
    width: 72px;
    height: 72px;
    margin: 30vh auto;
    display: block;
}

.photo_desc {
    width: 100%;
    height: 50px;
    background: rgba(105, 105, 105, 0.7);
    display: block;
    position: absolute;
    margin-top: 0;
    color: white;
}

.desc_text {
    padding: 2px;
}

.middle_desc_text_title {
    padding: 4px;
    width: 80%;
    margin: 10px auto;
    text-align: center;
}
.middle_desc_text {
    padding: 4px;
    width: 80%;
    margin: 10px auto;
    text-align: left;
}

.nav_footer {
    background-color: #edf1ef;
    margin-top: 5px;
    margin-bottom: 5px;
}

.days-coming {
    background: url(../../back/back/back_4.png) no-repeat center;
    background-size: cover;
    height: 450px !important;
}

.banner {
    background: url(../../back/back/back_1.png) no-repeat center;
    background-size: cover;
    min-height: 100vh !important;
}

* {

    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
}